:root {
  --body_background: white;
  --body_color: black;
  --link_color: navy;
  --text_color: rgb(5, 0, 72);
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --link_color: cyan;
  --text_color: rgb(206, 203, 209);
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
